<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<BioAlgorithm>Data Source=LAPTOP-8098K11E\SQLEXPRESS;Initial Catalog=BioAlgorithm;Integrated Security=true;TrustServerCertificate=True</BioAlgorithm>
	</connectionStrings>
	<ColorSchema>
		<TypeTask>common</TypeTask>
	</ColorSchema>
</configuration>